<div class="container" *ngIf="isOpen && card">
  <header class="space">
<!--    breadcrumb-->
    <div class="breadcrumb">
      <span class="content-icon epic" [ngClass]="{'active':card.isEpic}" (click)="sendLink(['epic',card.epic])">
        <span class="icon"><i class='bx bxs-bolt'></i></span>
        <span class="lab">Ep-{{card.epic}}</span>
      </span>
      <span class="content-icon active {{card.type}}" [ngSwitch]="card.type" *ngIf="!card.isEpic" (click)="sendLink([card.type,card.id])">
        <span class="icon">
          <i *ngSwitchCase="'component'" class="bx bxs-chip"></i>
          <i *ngSwitchCase="'widget'" class='bx bxs-bookmark' ></i>
        </span>
        <span class="lab" *ngSwitchCase="'component'">CT-{{card.id}}</span>
        <span class="lab" *ngSwitchCase="'widget'">WT-{{card.id}}</span>
      </span>
    </div>

  <!--  settings  -->
    <div>
      <button class="close" (click)="isOpen = false"><i class='bx bx-x'></i></button>
    </div>
  </header>
  <div class="content">
    <h2>Name</h2>
    <form [formGroup]="formName" (ngSubmit)="setName()" class="space">
      <input class="input-name" type="text" formControlName="name" placeholder="filling is mandatory" [value]="card.name" (focusout)="setName()">
    </form>
    <!-- workflow -->
    <button class="status-btn space {{card.workflow}}" [matMenuTriggerFor]="menu">
      {{card.workflow}}
      <i class='bx bxs-chevron-down'></i>
    </button>
    <mat-menu #menu="matMenu">
      <div class="workflow-item" (click)="card.setWorkflow('backlog')" *ngIf="card.workflow != 'backlog'">
        <span class="status backlog">Backlog</span>
      </div>
      <div class="workflow-item" (click)="card.setWorkflow('process')" *ngIf="card.workflow != 'process'">
        <span class="status process">In Progress</span>
      </div>
      <div class="workflow-item" (click)="card.setWorkflow('done')" *ngIf="card.workflow != 'done'">
        <span class="status done">Done</span>
      </div>
    </mat-menu>

    <h2>Description</h2>
    <app-description [code]="card.description" (callback)="setDescription($event)"></app-description>

    <app-uepic *ngIf="card.isEpic;else isNotEpic" [epic]="card" (link)="sendLink($event)"></app-uepic>
    <ng-template #isNotEpic [ngSwitch]="card.type">

      <app-uwidget *ngSwitchCase="'widget'"></app-uwidget>
      <app-ucomp *ngSwitchCase="'component'"></app-ucomp>
    </ng-template>
  </div>
  <footer></footer>
</div>
