//.header{z-index: 9000;}
//.sidebar{z-index: 5000;}
//.content{z-index: 2000;}

.container{
    transition: padding 300ms;
    padding-left: 20px;
    &.open-sidebar{
        padding-left: 240px;
    }
}
.content{
    padding: 16px 8px 4px 16px;
    header{
        h2{
            color: #505050;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20px;
            display: flex;
            i{
                font-size: 18px;
                margin-right: 5px;
                color: #0f0f0f;
            }
        }
        margin-bottom: 20px;
    }
}
h1{
    color: #2c2c2c;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
