<!-- epic -->

<div class="container">
  <div class="table">
    <app-epic (type)="editType($event)" (child)="editChild($event)" *ngFor="let item of epic" [epicName]=item></app-epic>
    <footer>
      <button class="toggle-add-epic" (click)="openEpicAdd()" *ngIf="!isActive">
        <span class="icon"><i class='bx bx-plus'></i></span>
        <span class="text">Create Epic</span>
      </button>
      <form [formGroup]="formGroup" (ngSubmit)="createEpicSubmit()" *ngIf="isActive">
        <div class="epic-container">
          <span class="icon"><i class='bx bxs-bolt'></i></span>
          <span class="input-content">
            <input class="input" #input type="text" formControlName="epic" placeholder="What needs to be done?" (focusout)="isActive = false">
          </span>
        </div>
      </form>
    </footer>
  </div>
</div>

<app-edit [type]="type" [child]="child" [open]="openEdit"></app-edit>


