.epic-container {
  .icon {
    width: 17px;
    height: 17px;
    border-radius: 3px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
}

.child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  color: #172B4D;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: 300ms;
  position: relative;

  &:hover {
    background-color: #eee;
    color: #0c1729;
  }

  .icon {
    background-color: red;
  }

  &.widget {
    .icon {
      background-color: #63ba3c;
    }
  }
  &.component {
    .icon {
      background-color: #1e1e1e;
    }
  }

  &.epic {
    &:hover .add{
      visibility: visible;
      opacity: 1;
    }
    &:hover .status{
      visibility: hidden;
      opacity: 0;
    }
    .icon {
      background-color: #904ee2;
    }
    .add{
      width: 24px;
      height: 24px;
      background-color: #dbdbdb;
      display: flex;
      justify-content: center;
      border-radius: 4px;
      font-size: 18px;
      color: #747474;
      align-items: center;
      position: absolute;
      right: 20px;
      visibility: hidden;
      opacity: 0;
      transition: 300ms;
      &:hover{
        background-color: #cdcdcd;
      }
    }
  }
}

// background-color: #904ee2;
// #63ba3c


.dropdown-toggle {
  font-size: 16px;
  color: #373737;
  border-radius: 5px;
  line-height: 16px;
  cursor: pointer;
  margin-right: 5px;
  transition: 300ms;
  &:hover, &:active {
    background-color: #3b8aff;
    color: #fff;
  }
}

.child-name {
  margin-left: 8px;
}

.child-container {
  margin-left: 40px;
}



.input-content{
  .input{
    width: 100%;
    border: none;
    font-weight: 500;
    padding: 6px 16px;
    color: #4d5c77;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    transition: 300ms;
    background-color: transparent;
    display: flex;
    outline: none;
  }
  box-shadow: 0 0 0 2px #dcebff;
  border-radius: 4px;
  display: block;
  margin-left: 50px;
}


.status{
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 6px;
  position: absolute;
  right: 10px;
  visibility: visible;
  opacity: 1;
  transition: 300ms;
  &.backlog{
    background-color: #DFE1E6;
    color: #42526E;
  }
  &.process{
    color: #0747a6;
    background-color: #deebff;
  }
  &.done{
    background-color: #e3fcef;
    color: #006644;
  }
}

.id{
  color: #5E6C84;
  margin-left: 10px;
  font-size: 14px;
}
footer{
  margin-top: 10px;
}
