<div class="header">
    <span>
        <div class="icon"></div>
        <h2>pages</h2>
    </span>
    <button class="count-add">8</button>

</div>
<div class="content">
    <div class="item">
        <span class="child">
            <div class="box"></div>
            <div class="lab">
                <span class="comment">Send 2 </span>
                <span class="name">Guide </span>
            </div>
        </span>
        <div class="point"></div>
    </div>
    <div class="item">
        <span class="child">
            <div class="box"></div>
            <div class="lab">
                <span class="comment">Send 2 </span>
                <span class="name">Guide </span>
            </div>
        </span>
        <div class="point"></div>
    </div>
</div>