<div class="container">
  <div class="left">
    <span class="icon" [ngClass]="issue.type">
        <i *ngIf="issue.type == 'component'" class="bx bxs-chip"></i>
        <i *ngIf="issue.type == 'widget'" class='bx bxs-bookmark'></i>
    </span>
    <span class="id">
      <span *ngIf="issue.type == 'component'">CT-{{issue.id}}</span>
      <span *ngIf="issue.type == 'widget'">WT-{{issue.id}}</span>
    </span>
    <span class="name">


      <ng-template [ngIf]="!isEditName" [ngIfElse]="EditName">
        <span class="value">{{issue.name}}</span>
        <span class="edit" (click)="editName()"><i class='bx bxs-pencil'></i></span>
      </ng-template>
      <ng-template #EditName>


        <form [formGroup]="formName" (ngSubmit)="save()" class="space" #EditName>
          <input #name class="editName" type="text" formControlName="name" [value]="issue.name" (focusout)="save()">
        </form>
        <footer class="edit-name-tool">
          <button (click)="save()"><i class='bx bx-check'></i></button>
          <button (click)="reset()"><i class='bx bx-x'></i></button>
        </footer>
      </ng-template>
    </span>
  </div>
  <div class="right">
    <span class="workflow">
    <!-- workflow -->
    <button class="status-btn status space {{issue.workflow}}" [matMenuTriggerFor]="menu">{{issue.workflow}}</button>
    <mat-menu #menu="matMenu">
      <div class="workflow-item" (click)="issue.setWorkflow('backlog')" *ngIf="issue.workflow != 'backlog'">
        <span class="status backlog">Backlog</span>
      </div>
      <div class="workflow-item" (click)="issue.setWorkflow('process')" *ngIf="issue.workflow != 'process'">
        <span class="status process">In Progress</span>
      </div>
      <div class="workflow-item" (click)="issue.setWorkflow('done')" *ngIf="issue.workflow != 'done'">
        <span class="status done">Done</span>
      </div>
    </mat-menu>
  </span>
  </div>
</div>
