
$header:56px;


.sidebar{
    position: fixed;
    width: 240px;
    height: calc(100vh - $header);
    position: fixed;
    left: 0;
    top: $header;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    z-index: 9999999;
    transition: 300ms;
    &.hide{
        width: 0;
    }
    &:not(.hide){
        & .container-toggle{
            visibility: hidden;
            opacity: 0;
            right: -20px;
        }
    }
    &.show{
        width: 240px !important;
        & .container-toggle{
            right: -20px;
        }
    }
    &:hover{
        & > .container-toggle{
            visibility: visible;
            opacity: 1;
        }
    }
}


.container-toggle{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -40px;
    visibility: visible;
    opacity: 1;
    transition: 300ms;
    & > .toggle{
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 50%;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        box-shadow: 0 0 5px #ccc;
        background-color: #fff;
        color: #6b778c;
        cursor: pointer;
        transition: 300ms;
        top: 30px;
        left: 8px;
        &:hover{
            background-color: #4c9aff;
            color: #fff;
        }
    }
}



.pipe{
    position: fixed;
    left: 0;
    top: $header;
    width: 20px;
    background-color: #fff;
    height: calc(100vh - $header);
    box-shadow: 0 0 5px #ccc;
    visibility: visible;
    opacity: 1;
    transition: 600ms;
    &.hide{
        visibility: hidden;
        opacity: 0;
    }
}
