<header class="header">
    <div class="left">

        <a *ngFor="let item of HeaderTools['left']" class="tool" [routerLink]="item.route" routerLinkActive="active">
            <i class='{{item.logo}}'></i>
        </a>
    </div>
    <div class="centre">
      <router-outlet></router-outlet>
    </div>
    <div class="right">
      <a *ngFor="let item of HeaderTools['right']" class="tool" [routerLink]="item.route" routerLinkActive="active">
        <i class='{{item.logo}}'></i>
      </a>
    </div>
</header>
