<div class="only-margin-space" [ngClass]="{'open':isOpen}"></div>
<div class="sidebar-container" [ngClass]="{'open':isOpen}">
  <div class="toggle-container" [ngClass]="{'hidden':isOpen}">
    <button class="toggle" (click)="isOpen = !isOpen">
      <span><i class='bx bxs-chevron-{{isOpen?"left":"right"}}'></i></span>
    </button>
  </div>
  <div class="container">
    <div class="project">
      <span class="img"></span>
      <span class="info">
        <h2>Web constructor</h2>
        <span>Software project</span>
      </span>
    </div>
    <div class="planning">
      <div class="nav">
        <a routerLink="overflow" routerLinkActive="active" class="item">
          <span class="icon"><i class='bx bxl-stack-overflow' ></i></span>
          <span>overflow</span>
        </a>
        <a routerLink="timeline" routerLinkActive="active" class="item">
          <span class="icon"><i class='bx bx-timer' ></i></span>
          <span>timeline</span>
        </a>
        <a routerLink="boards" routerLinkActive="active" class="item">
          <span class="icon"><i class='bx bxs-dashboard'></i></span>
          <span>boards</span>
        </a>
      </div>
    </div>
  </div>
</div>
